.saldo-card {
  background-color: #000000;
  border: 1px solid #0079f1;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.saldo-valor {
  font-size: 2.5rem;
  font-weight: bold;
  color: #28a745;
}